.flashcard-box {
  position: relative;
  width: 200px;
  height: 200px;
}

.delete-btn {
  position: absolute;
  top: -10px;
  right: -10px;

  background: #ff6b6b;
  border: none;
  color: white;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 20;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

  transition: transform 0.2s, background 0.2s ease;
}

.delete-btn:hover {
  background: #ff4a4a;
  transform: scale(1.1);
}

.delete-btn svg {
  pointer-events: none;
}
.flashcard {
  height: 200px;
  width: 200px;
  transition: 0.3s;
  transform-style: preserve-3d;
  background-color: #f3d2c1;
  border: 4px solid #001858;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: relative;
}

.flashcard-box:hover .flashcard {
  transform: rotateY(180deg);
}

.question {
  z-index: 5;
  color: black;
}

.answer {
  transform: rotateY(180deg);
  color: blue;
}

.question,
.answer {
  text-align: center;
  font-weight: bold;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  width: 100%;
  height: 100%;
}
