@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

body {
  font-family: "Koulen", sans-serif;
  background-color: #fef6e4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #001858;
  margin-top: 20px;
  font-size: 3rem;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12.5rem;
  gap: 20px;
  padding: 20px;
}

p {
  color: #172c66;
}
.nav-title {
  position: fixed;
  top: 1rem;
  left: 7rem;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  z-index: 998;
}

#add-button {
  position: fixed;
  top: 2.5rem;
  right: 7rem;
  z-index: 998;
  background-color: #f582ae;
  padding: 10px;
  border: black 4px solid;
  border-radius: 10px;
  cursor: pointer;
}
